<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353192778567-p9ivvhh3a7aekknlg7m35g2s71dvlusl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353192778567-p9ivvhh3a7aekknlg7m35g2s71dvlusl</string>
	<key>API_KEY</key>
	<string>AIzaSyABdR8B9z4urQZvF0-6_zh7VHR4hshLRqA</string>
	<key>GCM_SENDER_ID</key>
	<string>353192778567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotificationusingfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutternew-96801</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternew-96801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353192778567:ios:ec206d58ef673f578f8a62</string>
</dict>
</plist>